.App{
  color: white;
  background-color:#191919;
  width: 100%;
  background-image: url(./assets/images/ornament.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
  height: 100%;
  padding-bottom: 200px;
}
.container{
  width: 1278px;
  margin: 0 auto;
  font-family: sans-serif;
}
.line{
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}